@import "./../components/variables";

.blog-post {
  max-width: 600px;
  margin: 2em auto;

  h1 {
    font-size: 1.6em;
    margin-bottom: 20px;
    line-height: 1.2em;
    font-family: $boldfont;
  }

  h2 {
    font-size: 1em;
    margin-bottom: 20px;
  }

  h3 {
    font-weight: bold;
  }

  div {
    p {
      margin: 0 0 40px 0;
    }

    pre, code[class*="language-"] {
      line-height: 18pt;
      width: 100%;
      font-size: 13pt;
      background-color: rgb(243, 243, 243);
      // code {
        font-family: $code !important;
        letter-spacing: -0.5px;
        font-weight: 500;
      // }
    }
  }
}