@import "../components/variables";

.landingpage {
  text-align: center;
  display: grid;
  grid-template-columns: 0.5fr 6fr 0.5fr;

  .landingtext {
    grid-column: 2 / span 1;
    font-size: 1.4em;
    line-height: 1.5em;
  }
}