

@font-face {
  font-family: 'manrope-extrabold';
  src: url('./../fonts/manrope/manrope-extrabold.otf') format('opentype'),
       url('./../fonts/manrope/manrope-extrabold.woff') format('woff'),
       url('./../fonts/manrope/manrope-extrabold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; 
}


@font-face {
  font-family: 'manrope-semibold';
  src: url('./../fonts/manrope/manrope-semibold.otf') format('opentype'),
       url('./../fonts/manrope/manrope-semibold.woff') format('woff'),
       url('./../fonts/manrope/manrope-semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; 
}


$mainfont: 'manrope-semibold';
$boldfont: 'manrope-extrabold';

$blue: #000;
$light: rgb(254, 227, 242);
$bg-color:#FFF;
$highlight: #FFF;
$shadow: rgb(251, 210, 252);
$alt: #000;
$outline: #FAC6FB;
$outline-shadow: rgb(250, 175, 252);


// nice yellow F9F4EA
// pink FEE3FD / FAC6FB