@font-face {
  font-family: 'HKGrotesk-Medium';
  src: url('./../fonts/HKGrotesk/HKGrotesk-Medium.woff') format('woff'),
       url('./../fonts/HKGrotesk/HKGrotesk-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; 
}

@font-face {
  font-family: 'HKGrotesk-Bold';
  src: url('./../fonts/HKGrotesk/HKGrotesk-Bold.woff') format('woff'),
       url('./../fonts/HKGrotesk/HKGrotesk-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; 
}


@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

$mainfont: 'HKGrotesk-Medium';
$boldfont: 'HKGrotesk-Bold';
$code: 'Inconsolata';

$blue: #222;
$light: rgb(254, 227, 242);
$bg-color:#FFF;
$highlight: rgb(255, 245, 250);
$shadow: rgb(251, 210, 252);
$alt: #EEE;
$outline: #FAC6FB;
$outline-shadow: #FAC6FB;
$mainfontsize-lg: 16pt;
$mainfontsize-sm: 12pt;


// nice yellow F9F4EA
// pink FEE3FD / FAC6FB
// rgb(250, 175, 252)