@import "variables";

footer {

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    li {
      text-align: center;
    }
  }
}

@media screen and (min-width: 750px) {


}