@import "variables";

.gsap {
  padding: 0;
  margin: 0;
}

#mouth, #left-eye, #right-eye {
  visibility: hidden;
}

.logo {
  pointer-events: fill;
  display: inline-block;
  padding: 10px;
  height: 40px;
}

svg {
  path {
    stroke: #000;
    stroke-width: 5px;
  }

}