@import "variables";

nav {
  .hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }

  ul.nav-links {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;

    li:nth-child(n+2) {
      text-align: center;
    }

    .current-page {
      font-family: $hk-meditalic;
    }
  }

}

@media screen and (min-width: 550px) {

}