@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: $bg-color;
  font-family: $mainfont, 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  color: $blue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400; 
  font-style: normal;
  font-size: 13pt;
  line-height: 1.9em;
  letter-spacing: 0.2px;
}

// HOVER EFFECT
a {
  text-decoration: none;
  color: inherit;
  font-family: $mainfont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  z-index: 1;
}

a::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $alt;
  transform-origin: bottom center;
  transform: scaleY(0.4);
  transition: all 0.1s ease-in-out;
}

a:hover::before {
  transform: scaleY(1);
  background-color: $alt;
}

ul {
  list-style: none;

}

.container {
  padding: 30px;
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr minmax(min-content, max-content);

  .header {
    align-content: start;
  }

  .main {
    align-self: center;
  }

  .footer {
    align-content: end;
  }
}

@media screen and (min-width: 550px) {
  body {
    font-size: 16pt;
  }

  .container {
    padding: 30px;
  }
}