@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  font-family: $hk-med, Helvetica, Arial, sans-serif; 
  color: $blue;
  font-weight: normal; 
  font-style: normal;
  font-size: 17pt;
  line-height: 1.7em;
}

a {
  position: relative;
  text-decoration: none;
  padding-bottom: 6px;
  color: inherit;
}

a::before {
  content: '';
  position: absolute;
  height: 3px;
  bottom: 0;
  left: 5%;
  right: 5%;
  background-color: $blue;
  transform-origin: bottom left;
  transform: scaleX(1);
  transition: transform 0.2s ease-in-out;
}

a:hover::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

ul {
  list-style: none;

  li {
    padding-bottom: 10px;
  }
}

.container {
  padding: 30px;
  max-width: 1300px;
  margin: 30px auto;
}

@media screen and (min-width: 550px) {
  body {
    font-size: 20pt;
  }

  .container {
    padding: 70px 50px;
  }
}