@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  font-family: $hk, 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  color: $blue;
  font-weight: normal; 
  font-style: normal;
  font-size: 15pt;
  line-height: 1.7em;
}

// HOVER EFFECT
a {
  position: relative;
  text-decoration: none;
  padding-bottom: 6px;
  color: inherit;
  font-family: $hk-med, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a::before {
  content: '';
  position: absolute;
  height: 5px;
  bottom: 0;
  left: 5%;
  right: 5%;
  background-color: $alt;
  transform-origin: bottom left;
  transform: scaleX(1);
  transition: transform 0.2s ease-in-out;
}

a:hover::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

ul {
  list-style: none;

}

.container {
  padding: 30px;
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr minmax(min-content, max-content);

  .header {
    align-content: start;
  }

  .main {
    align-self: center;
  }

  .footer {
    align-content: end;
  }
}

@media screen and (min-width: 550px) {
  body {
    font-size: 19pt;
  }

  .container {
    padding: 30px;
  }
}